* {
    padding: 0;
    margin:0;
}
body {
    background-color: #2e2e2e;
    display: flex;
	align-items: center;
	justify-content: center;
}
.output {
    width: 100%;
    background-color: rgb(181,116,157);
    height: 200px;
}
.container {
    width: 600px;
    border: 1px solid white;
    position: absolute;
    top: 40%;
    color: white;
}
.data {
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 70px;
}
.reset {
    width: 100%;
    display: flex;
}
input{
    width: 100%;
}
